.contenedorTarjeta > .card > img{
    width: 286px;
    height: 484px;
}

.cajaDeComentario > textarea{
    height: 80px;
}

.celularDeLaDescripcion{
    width: 577px;
    height: 720px;
}

.columnaDivisora{
    background: rgb(146, 143, 143);
}